# root
.vercel
node_modules

# backend
backend/node_modules
backend/dist
backend/dev.db
backend/.env 

# shared
shared/dist

# Backend environment variables
backend/src/adapters/firebase/config/NailStoreFirebaseServiceAccount.json

# frontend
frontend/.vercel
frontend/dist
frontend/node_modules
frontend/.env

# Logs
logs
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?