@layer components {
  /* =========================
	   Base Button
	========================= */
  .btn {
    @apply inline-flex items-center justify-center 
		       font-semibold text-center rounded-md
		       cursor-pointer transition-all duration-200
		       shadow-md px-6 py-2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* custom subtle shadow */
  }

  .btn:hover {
    @apply -translate-y-0.5;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  .btn:active {
    @apply -translate-y-1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  /* =========================
	   Variants
	========================= */

  .btn-primary {
    @apply btn bg-primary text-buttonText;
  }

  .btn-secondary {
    @apply btn bg-secondary  text-buttonText;
  }

  .btn-third {
    @apply btn bg-accent  text-buttonText;
  }

  .btn-success {
    @apply btn bg-success border-success text-buttonText;
  }

  .btn-danger {
    @apply btn bg-danger border-border text-buttonText;
  }

  .btn-normal {
    @apply btn border bg-surfaceAlt border-border text-text active:bg-primary;
  }

  .btn-cancel {
    @apply btn border border-border text-text active:bg-surfaceAlt;
  }

  .btn-info {
    @apply btn bg-info  text-buttonText;
  }

  .btn-cancel {
    @apply btn rounded-md  border-border bg-surface text-textSecondary;
  }

  /* tailwind.css or your @layer components section */
  .btn-circle-x {
    @apply w-8 h-8 flex items-center justify-center 
         rounded-full
         text-text 
         hover:bg-danger
         transition;
  }

  /* =========================
	   Disabled State
	========================= */

  .btn:disabled {
    @apply opacity-50 cursor-not-allowed shadow-none;
  }

  /* =========================
	   Sizes
	========================= */
  .btn-sm {
    @apply px-4 py-2 text-sm;
  }

  .btn-lg {
    @apply px-8 py-4 text-lg;
  }

  /* =========================
	   Input
	========================= */
  .input-box {
    @apply border border-border rounded-lg 
		  text-text  bg-background
		  focus:outline-none focus:ring-2 
		  focus:ring-primary transition
      appearance-none 
		  [&::-webkit-outer-spin-button]:appearance-none 
		  [&::-webkit-inner-spin-button]:appearance-none 
		  [moz-appearance:textfield];
  }
  .dialog-box {
    @apply rounded-lg shadow-xl border border-border bg-surface;
  }

  .surface-box {
    @apply bg-surface rounded-lg shadow-xl;
  }

  .tag-box {
    @apply bg-accent text-text px-2 py-1 rounded text-xs font-semibold shadow;
  }

  .options-tag {
    @apply bg-surfaceAlt text-xs text-textSecondary px-2 py-0.5 rounded-full border border-divider;
  }
}
